<details>
    <summary>Input</summary>
    <div [formGroup]="form" style="width: 50%">
        <nes-input formControlName="input" label="Label" [inline]="true" appearance="warning"></nes-input>
    </div>
    <div style="width: 50%">
        <nes-input label="Error" [inline]="true" appearance="error"></nes-input>
    </div>
    <div style="width: 50%">
        <nes-input label="Success" [inline]="true" appearance="success"></nes-input>
    </div>
    <div style="width: 50%">
        <nes-input label="Default" [inline]="true"></nes-input>
    </div>
</details>

<details>
    <summary>Text directive</summary>
    <div nesText="primary">Primary</div>
    <div nesText="success">Success</div>
    <div nesText="warning">Warning</div>
    <div nesText="error">Error</div>
    <div nesText="disabled">Disabled</div>
    <div [nesText]="style" (click)="style === 'warning' ? style = 'success' : style = 'warning'">Click me</div>
</details>