<details>
    <summary>Input</summary>
    <div style="width: 50%">
        <nes-input label="Label" [inline]="true" appearance="warning"></nes-input>
    </div>
    <div style="width: 50%">
        <nes-input label="Error" [inline]="true" appearance="error"></nes-input>
    </div>
    <div style="width: 50%">
        <nes-input label="Success" [inline]="true" appearance="success"></nes-input>
    </div>
    <div style="width: 50%">
        <nes-input label="Default" [inline]="true"></nes-input>
    </div>
</details>