<details>
    <summary>Input</summary>
    <div [formGroup]="form" style="width: 50%">
        <nes-input formControlName="input" label="Label" [inline]="true" appearance="warning"></nes-input>
    </div>
    <div style="width: 50%">
        <nes-input label="Error" [inline]="true" appearance="error"></nes-input>
    </div>
    <div style="width: 50%">
        <nes-input label="Success" [inline]="true" appearance="success"></nes-input>
    </div>
    <div style="width: 50%">
        <nes-input label="Default" [inline]="true"></nes-input>
    </div>
</details>

<details>
    <summary>Text directive</summary>
    <div nesText="primary">Primary</div>
    <div nesText="success">Success</div>
    <div nesText="warning">Warning</div>
    <div nesText="error">Error</div>
    <div nesText="disabled">Disabled</div>
    <div [nesText]="style" (click)="style === 'warning' ? style = 'success' : style = 'warning'">Click me</div>
</details>

<details>
    <summary>Textarea</summary>
    <nes-textarea label="Default"></nes-textarea>
    <nes-textarea [resizable]="false" appearance="warning" label="Not resizable"></nes-textarea>
    <nes-textarea size="big" label="Big textarea"></nes-textarea>
    <nes-textarea size="small" label="Small textarea"></nes-textarea>
</details>

<details>
    <summary>Button</summary>
    <nes-button>Normal</nes-button>
    <nes-button appearance="primary">Primary</nes-button>
    <nes-button appearance="success">Success</nes-button>
    <nes-button appearance="warning">Warning</nes-button>
    <nes-button appearance="error">Error</nes-button>
    <nes-button appearance="disabled">Disabled</nes-button>
    <nes-button [disabled]="true" appearance="primary">Primary Disabled</nes-button>
    <nes-button appearance="primary" type="file">Pick file</nes-button>
</details>

<details [formGroup]="form">
    <summary>Radio</summary>
    <nes-radio label="Standard radio" [options]="radioOptions" valueAccessKey="value" titleAccessKey="title" ></nes-radio>
    <nes-radio formControlName="radio" appearance="dark" [inline]="false" label="Standard radio" [options]="radioOptions" valueAccessKey="value" titleAccessKey="title" ></nes-radio>
</details>